.logo{
    width: 25%;
    margin: auto;
    display: block;
    margin-top: 2%;
}

.Recherche{
    background-color: #ededed;
    width: 85%;
    margin: auto;
    display: block;
    margin-top: 3%;
}

.Recherche-Input{
    background-color: #ededed;
    width: 100%;
    border: none;
    padding: 1.8%;
    font-size: 75%;
    
}

.Recherche-Input::placeholder{
    color: #c9c9c9;
}

.Recherche-Barr{
    display: flex;
}

.Recherche-Icone{
    margin: auto;
    color: black;
    width: 3%;
}

.Recherche-Icone i{
    width: 100%;
}

.recette{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    height: 80%;
}

.img{
    background-color: #C0C0C0;
    height: 50%;
    width: 100%;
}

.ingredient p{
    margin-bottom: 1%;
    font-size: 72%;
    width: 300%;
}

.titre{
    display: flex;
    background-color: #ededed;
}

.titre p{
    font-size: 80%;
    margin-left: auto;
    width: 15%;
}

.titre i{
    font-size: 80%;
    margin-right: 5%;
}

.titre h2{
    font-size: 80%;
}

.ingredient{
    display: flex;
    flex-direction: column;

}


.body_recette{
    display: flex;
    height: 42%;
    background-color: #ededed;
}

.recette_card_wrapper{
    width: 26%;
    height: 20em;
    margin: auto;
    overflow: hidden;
    margin-top: 10%;
}

.description{
    font-size: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 40%;

}

#dropdowns{
    margin-left: 10%;
    margin-top: 6%;
    display: flex;
    flex-direction: row;

}

#button{
    padding: 15%;
    width: 177%;
}

  
  .dropdown1, .dropdown2, .dropdown3 {
    position: relative;
    display: inline-block;
    margin-right: 9%;
  }

  .Recherche-Ingredient, .Recherche-Appareil, .Recherche-Ustensil{
    border: none;
    width: 100%;
}

.Recherche-Ingredient::placeholder, .Recherche-Appareil::placeholder, .Recherche-Ustensil::placeholder{
    border: none;
    color: #C0C0C0;
}

#dropdown-menu1{
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#dropdown-menu2{
    background-color: #198754;
    border-color: #198754;
}

#dropdown-menu3{
    background-color: #dc3545;
    border-color: #dc3545;
}

.dropdown-item{
    color: white;
    font-size: 74%;
}

#dropdown-menu1{
    width: 408%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    transform: translate(0px, 0px);
    -webkit-columns: 3;
}

#dropdown-menu3{
    width: 200%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    transform: translate(0px, 0px);
    -webkit-columns: 2;

}

#dropdown-menu2{
    width: 166%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    transform: translate(0px, 0px);

}

#dropdown-menu3{
    width: 200%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    transform: translate(0px, 0px);

}


#dropdownMenuButton1:hover{
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#dropdownMenuButton1:focus, #dropdownMenuButton2:focus, #dropdownMenuButton3:focus{
    box-shadow: none;
}

#Recherche1 {
    width: 408%;
}

#Recherche2 {
    width: 166%;
}

#Recherche3 {
    width: 200%;
}

.dropdown-toggle::after{
    display: none;
}
